.size1 {
width: 55%;    
margin-right: 0%;
}
.size2 {
    width: 55%;
}
.manPowerImg{
    width: 80%;
    margin-left: 15%;
    margin-top: 20%;
}
.manPowerImg1{
    width: 65%;
    margin-left: 5%;
    margin-top: 10%;
}
.set{
    margin-left: 0%;
}
.manPowerTxt{
    margin-left: 5%;
    padding-right: 4%;
}
.angle{
    margin-left: -30px;
    margin-right: -20px;
}






  