.size1 {
width: 55%;    
margin-right: 10%;
}
.size2 {
    width: 55%;
}
.manPowerImg{
    width: 95%;
    margin-left: 15%;
    margin-top: 20%;
}
.manPowerImg1{
    width: 70%;
    margin-left: 5%;
    margin-top: 10%;
}
.set{
    margin-left: 6%;
}
.manPowerTxt{
    margin-left: 2%;
    padding-right: 5%;
}