.textPosition{
    margin-right: 15%;
}
.txt{
    text-align: right;
}
.partnerlogo{
    margin-left: 100px;
    margin-bottom: 50px;
}
.partnerlogo1{
    margin-bottom: 80px;
    margin-right: 90px;
}