/* Google Fonts - Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


.profile-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.profile-card1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-image: linear-gradient(#f22876, #542dd1);
}
.image1 {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-image: linear-gradient(#f22876, #542dd1);
  padding: 3px;
  margin-bottom: 10px;
}
.image1 .profile-img1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.profile-card1 .text-data1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
.text-data1 .name1 {
  font-size: 22px;
  font-weight: 500;
}
.text-data1 .job1 {
  font-size: 15px;
  font-weight: 400;
}
.profile-card1 .media-buttons1 {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.media-buttons1 .link1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 8px;
  
  text-decoration: none;
}
.profile-card1 .buttons1 {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.buttons1 .button1 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 24px;
  margin: 0 10px;
  padding: 8px 24px;
  background-image: linear-gradient(#f22876, #542dd1);
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons1 .button1:hover {
    background-image: linear-gradient(#f22876, #542dd1);
}
.profile-card1 .analytics1 {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.analytics1 .data1 {
  display: flex;
  align-items: center;
  color: #333;
  padding: 0 20px;
  border-right: 2px solid #e7e7e7;
}
.data1 i {
  font-size: 18px;
  margin-right: 6px;
}
.data1:last-child {
  border-right: none;
} */
